<!DOCTYPE html>
<html>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body bgcolor="black">
<h1 style="color: green;font-family: "> Enter the Matrix </h1>
<div ng-app="">
 
<p>Input something in the input box:</p>
<textarea ng-model="blog" rows="5" cols="800"></textarea>
<!-- <p>Name: <input type="text" ng-model="name" rows="10" cols="10"></p> -->
<p ng-bind="blog"  style="color: green;font-family: Arial; size: 16px;"></p>

</div>

</body>
</html>
